*.loa
*.aux
*.brf
*.out
*.lot
*.log
*.lof
*.toc
*.blg
*.dvi
*.bbl
*.elc
*.nav
*.snm
*.pyc
*.vrb
*.dblite
*~
diss.pdf

diss.fdb_latexmk
diss.fls
diss.synctex.gz
!sections/**/*.log

*.loa
*.aux
*.brf
*.out
*.lot
*.log
*.lof
*.toc
*.blg
*.dvi
*.bbl
*.elc
*.nav
*.snm
*.pyc
*.vrb
*.dblite
*~
main.pdf
.~lock.docexams_external_examiner_form.doc#

main.fdb_latexmk
main.fls
main.synctex.gz
!sections/**/*.log

.vscode/


